 <!-- About Section -->
    <section id="about" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>A propos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                  <p>
                    Après 10 ans d’expérience dans l’industrie où j’ai modélisé des systèmes complexes,
                    cartographié des flux supply chain et mis au point des outils d’analyse de la performance,
                    je réalise des missions en freelance dans les technologies web.
                  </p>
                </div>
                <!-- <div class="col-lg-4">
                    <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point! </p>
                </div> -->
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="{{site.url}}/CV.pdf" class="btn btn-outline btn-lg">
                        <i class="fa fa-download"></i> Consulter mon CV
                    </a>
                </div>
            </div>
        </div>
    </section>
